:root {
  --jsYellow: #f0db4f;
  --jsBlack: #323330;
}

@font-face {
    font-family:'Renegade ';
    src: url('Assets/fonts/Renegade\ Pursuit.otf') format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/*menu navegação*/
header {
  background-color: var(--jsBlack);
  width: 100%;
  padding: 10px;
}

.logo {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    font-size: 1.5em;
    font-family: 'Renegade';
}

.logo:hover{
    color: var(--jsYellow);
    transition: 300ms;
}

.menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-nav ul {
  display: flex;
  list-style-type: none;
  color: #fff;
}

.menu-nav ul li {
  padding: 5px;
  align-self: center;
  font-size: 1.3rem;
}

.menu-nav ul li a {
  color: #fff;
  color: #fff;
  text-decoration: none;
}

.menu-nav ul li a:hover {
    color: var(--jsYellow);
    transition: 300ms;
}
/*FIM MENU-NAVEGAÇÃO*/

/* SEÇÃO MAIN */

.container-principal {
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: var(--jsYellow);
}

.caixa-chamada{
    background-color: rgb(27, 27, 27, 1);
    height: 160px;
    color: #fff;
    box-shadow: 10px 5px 5px 1px black;
    padding: 10px;
}

.caixa-chamada .title{
    font-size: 2.3rem;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.caixa-chamada .span-descri{
    font-size: 1.5rem;
    padding: 10px;
} 

.caixa-chamada .container-btn{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.caixa-chamada .container-btn .btn-chamada{
    display: block;
    text-align: center;
    padding: 5px;
    border: none;
    background-color: var(--jsBlack);
    color: #fff;
    font-size: 1.3rem;
    border-radius: 6px;
    transition: 500ms;
}

.caixa-chamada .container-btn .btn-chamada:hover{
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

/*FIM MAIN*/

/*SESSÂO PROJETOS*/

.container-projetos{
    margin-top: 20px;
    height: auto;
}

.container-projetos .title2{
    font-size: 2.3rem;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}

.lista-projetos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content:center ;
    justify-content: space-evenly;
}

.lista-projetos .container-projeto{
    background-color: var(--jsBlack);
    padding: 5px;
}

.container-projeto li{
    list-style: none;
    text-align: center;
}

.container-projeto li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.container-projeto li a:hover{
    cursor: pointer;
    color: var(--jsYellow);
}
