:root {
  --jsYellow: #f0db4f;
  --jsBlack: #323330;
  --white: #ffff;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/*menu navegação*/
header {
  background-color: var(--jsBlack);
  width: 100%;
  padding: 10px;
}

.logo {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    font-size: 1.5em;
    font-family: 'Renegade';
}

.logo:hover{
    color: var(--jsYellow);
    transition: 300ms;
}

.menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-nav ul {
  display: flex;
  list-style-type: none;
  color: #fff;
}

.menu-nav ul li {
  padding: 5px;
  align-self: center;
  font-size: 1.3rem;
}

.menu-nav ul li a {
  color: #fff;
  color: #fff;
  text-decoration: none;
}

.menu-nav ul li a:hover {
    color: var(--jsYellow);
    transition: 300ms;
}
/*FIM MENU-NAVEGAÇÃO*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/halftone-yellow.png');
}

main {
  background-color: var(--white);
  padding: 50px;
  width: 600px;
  border-radius: 10px;
  box-shadow: 10px  10px ;
}

.title {
    text-align: center;
    
}

.numero {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
}

.box-button {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-top: 10px;
}

.box-button .btn {
  background-color: var(--white);
  padding: 10px;
  font-size: 1.3rem
}

.box-button .btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 200ms;
}
